<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 스마트 에디터 -->
    <script type="text/javascript" src="/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>

    <style>

    </style>

    <script>
        let check1 = false;

        //
        function check(check1) {
            if (check1) {
                $("#submit-btn").removeAttr("disabled");
            } else {
                $("#submit-btn").attr("disabled", 'disabled');
            }
        }

        $(document).ready(function () {
            const reviewTitle = $("#review-title");
            reviewTitle.on("keyup", function () {
                if (reviewTitle.val() === "") {
                    $("#title-write").text("리뷰 제목을 입력해주세요.");
                    check1 = false
                } else {
                    $("#title-write").text("");
                    check1 = true;
                }
                check(check1);
            });

            // 평점의 초기값 설정
            writeValue($("#review-score").val());

            // 서브밋 시 스마트 에디터의 밸류 확인
            $("#submit").on("click", function () {
                // 체크 안된 리뷰 널처리
                doSubmit();
                console.log($("#reviewContents").val());

                oEditors.getById["reviewContents"].exec("UPDATE_CONTENTS_FIELD", []);

                // 에디터의 내용에 대한 값 검증은 이곳에서
                // document.getElementById("reviewContents").value를 이용해서 처리한다.

                try {
                    $("#form").submit();
                } catch (e) {
                    console.log(e);
                }
            });
        });

        function writeValue(value) {
            // 개선사항 > value를 소수로 형변환 해서 그냥 사용
            if (value.length > 1 && value !== "0") {
                // 소수점이 존재하는 value 일때 실행
                let score = "평점(" + value + ")점 ";
                let text = document.getElementById("review-score-text");
                text.textContent = score;
            } else {
                value += ".0";
                let score = "평점(" + value + ")점 ";
                let text = document.getElementById("review-score-text");
                text.textContent = score;
            }

        }

        function reviewCancel() {
            const result = confirm('정말 취소하시겠습니까? 작성한 내용은 저장되지 않습니다.');

            // 개선 가능 > 상세뷰로 가는 주소를 따와서 보내기
            if (result) {
                location.back();
            }
        }

        function doSubmit() {
            const target = "review-tag"
            for (let i = 1; i < 9; i++) {
                let targetTagName = target + i;
                let targetTag = document.getElementById(targetTagName);
                if (targetTag.checked !== true) {
                    targetTag.value = "N";
                    targetTag.setAttribute("checked", "checked");
                }
            }
        }


        //
    </script>
</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="container-sm my-4">
    <div class="col-sm-8 mx-auto">
        <form name="form" id="form" action="/bmn/review/write" method="post" class="form-control"
              enctype="multipart/form-data" novalidate="novalidate">
            <h2 class="text-center my-4">리뷰 작성</h2>
            <!-- 정보 입력 -->
            <div class="row">
                <div class="my-2">
                    <!-- 굳이 필요한가? 타이틀에 붙이는 방법 고려-->
                    <span>가게 이름</span>
                    <div class="form-floating my-3">
                        <!-- 타임리프로 value 넣기-->
                        <input type="text" class="form-control" id="ceo_store" readonly th:value="${ceoStore}">
                        <label for="ceo_store">가게 이름</label>
                    </div>
                </div>

                <div class="my-2">
                    <span>리뷰 제목</span>
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="review-title" name="reviewTitle">
                        <label for="review-title">리뷰 제목</label>
                        <p class="text-danger" id="title-write"></p>
                    </div>
                </div>

                <!-- 평점 -->
                <!-- 고려사항 > 타이핑해서 입력하는 인풋도 추가, 레인지와 텍스트 인풋이 호환되게 js 로직 짜기-->
                <!-- -->
                <div class="my-2 col-4">
                    <label for="review-score" class="form-label" id="review-score-text">평점</label>
                    <input type="range" name="reviewScore" class="form-range" min="0" max="5" step="0.5" value="5"
                           id="review-score"
                           oninput="writeValue(this.value)">
                </div>

                <div class="my-2">
                    <span>리뷰 내용</span>
                    <!-- 스마트 에디터 -->
                    <textarea name="reviewContents" id="reviewContents" rows="10" cols="100">클린한 리뷰 부탁드립니다~</textarea>
                </div>

                <div class="row">
                    <div class="my-2 col-4">
                        <label for="review-img" class="mb-1">리뷰 이미지</label>
                        <input type="file" class="form-control" id="review-img" name="reviewImgFile"
                               accept="image/jpeg">
                    </div>

                    <!-- 리뷰 태그 -->
                    <div class="my-2 col">
                        <p class="mb-1">태그 선택</p>

                        <div class="d-flex">
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag1" name="reviewTag1"
                                       value="Y">
                                <label class="form-check-label" for="review-tag1">맛</label>
                            </div>
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag2" name="reviewTag2"
                                       value="Y">
                                <label class="form-check-label" for="review-tag2">만족도</label>
                            </div>
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag3" name="reviewTag3"
                                       value="Y">
                                <label class="form-check-label" for="review-tag3">서비스</label>
                            </div>
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag4" name="reviewTag4"
                                       value="Y">
                                <label class="form-check-label" for="review-tag4">음식량</label>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag5" name="reviewTag5"
                                       value="Y">
                                <label class="form-check-label" for="review-tag5">청결도</label>
                            </div>
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag6" name="reviewTag6"
                                       value="Y">
                                <label class="form-check-label" for="review-tag6">가격</label>
                            </div>
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag7" name="reviewTag7"
                                       value="Y">
                                <label class="form-check-label" for="review-tag7">메뉴</label>
                            </div>
                            <div class="form-check px-auto col">
                                <input class="form-check-input" type="checkbox" id="review-tag8" name="reviewTag8"
                                       value="Y">
                                <label class="form-check-label" for="review-tag8">분위기</label>
                            </div>
                        </div>
                    </div>

                    <!-- 버튼 -->
                    <div class="my-2 mx-0 d-flex justify-content-end">
                        <input type="hidden" th:value="${ceoIdx}" name="ceoIdx">
                        <input type="hidden" th:value="${ceoStore}" name="ceoStore">
                        <input type="hidden" th:value="${session.customer.getCustomerIdx}" name="customerIdx">
                        <input type="hidden" th:value="${session.customer.getCustomerNick}" name="customerNick">
                        <button type="button" class="btn btn-secondary" onclick="reviewCancel()">취소</button>
                        <button type="submit" class="btn btn-primary opacity-75 ms-3" id="submit-btn" disabled>작성</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--  스마트 에디터-->
<script type="text/javascript">
    var oEditors = [];
    nhn.husky.SE2M_AttachQuickPhoto = true;
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "reviewContents",
        sSkinURI: "/se2/SmartEditor2Skin.html",
        fCreator: "createSEditor2"

    });
</script>
</body>
</html>