<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <style>
        /*구글 폰트를 이용한 로고 글자 */
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

        #headerFont {
            font-family: 'Black Han Sans', sans-serif;
            font-weight: 900;
        }

        .swiper-slide {
            position: relative;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: black;
        }

        .imgHoverContainer:hover .overlay {
            opacity: 0.5;
        }

        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }

    </style>
    <script>

        $(document).ready(function(){
            const session = sessionStorage.getItem('user');
            console.log(session);
            $("#keyword-val").keydown(function (key){
            let keyWorld = $("#keyword-val").val();
                if(key.keyCode == 13){
                    $.ajax({
                        url: "/bmn/bmnSearchList",
                        type : 'GET',
                        data : {keyWorld : keyWorld},
                        success:function(data){
                            location.href= "/bmn/bmnSearchList?keyWorld="+keyWorld;
                        },
                        error:function(){
                            alert('통신 실패');
                        }
                    });
                }
            })

            let msg = document.getElementById("sessionMsg");
            if (msg.textContent.length > 0) {
                alert(msg.textContent);
            }

            const btn = document.getElementById("submit-btn");
            const frm = document.getElementById("form");
            btn.addEventListener("click", function () {
                let userId = document.getElementById("user-id").value;
                let userPw = document.getElementById("user-pw").value;
                if (userId === "" || userId == null) {
                    // 아이디를 미입력시
                    alert('아이디를 입력해주세요');
                } else if (userId !== "" && userPw === "") {
                    // 아이디만 입력시
                    alert('비밀번호를 입력해주세요');
                } else {
                    // 서브밋
                    frm.submit();
                }
            });
        });

    function foodSearch(){
        let keyWorld = $("#keyword-val").val();
        console.log(keyWorld);// 값이 들어오는 거 확인함
        $.ajax({
            url: "/bmn/bmnSearchList",
            type : 'GET',
            data : {keyWorld : keyWorld},
            success:function(data){
                location.href= "/bmn/bmnSearchList?keyWorld="+keyWorld;
            },
            error:function(){
                alert('통신 실패');
            }
        });
    }
    </script>

</head>
<body>
<header class="container-fluid mt-lg-3">
    <div class="row bg-light ">
        <div class="col-sm-2">
            <nav class="navbar">
                <span class="navbar-brand fs-3" id="headerFont">밥뭇나</span>
            </nav>
        </div>
        <div class="col-sm-6 input-group pt-3 pb-3 w-50">
                <input id="keyword-val" name="keyword-val" type="search" class="form-control me-3" placeholder="식당,메뉴,주소명을 입력해주세요">
                <button type="submit" class="btn btn-primary" onclick="foodSearch()">검색</button>
        </div>

        <div class="col-sm-4 btn-group justify-content-center">
            <!-- 로그인 시 사장님/회원님 환영합니다 메시지 구현, 타임리프 오류해결 필요  -->
            <div class="fs-3"  th:if="${not #strings.isEmpty(session.user)}">
                <a href="/bmn/logOut" id="logout-btn" class="btn btn-primary me-3">로그아웃</a>
<!--                <p th:unless="${#strings.isEmpty(session.user.customerId)}" th:text="|${session.user.customerNick}님 환영합니다.|"></p>-->
<!--                <p th:unless="${#strings.isEmpty(session.user.ceoId)}" th:text="|${session.user.ceoStore}사장님 환영합니다.|"></p>-->
            </div>

            <div class="fs-3" th:unless="${not #strings.isEmpty(session.user)}">
                <button type="button" id="login-btn" class="btn btn-primary me-3" data-bs-toggle="modal"
                        data-bs-target="#modal-login">로그인
                </button>
            </div>
            <div class="fs-3"><button type="submit" class="btn btn-primary">회원가입</button></div>
            <div class="fs-3" th:if="${not #strings.isEmpty(session.user)}">
                <a href="/bmn/myPageCus" class="btn btn-primary">마이 페이지</a>
                <!--  사장님 계정 로그인 시 가게등록하기 버튼 추가, 무조건 페이지 연동까지 구현하기  -->
                <!--  사장님 계정 로그인 시 내 가게로 가기 버튼 추가(viewDetail 연결)  -->
            </div>
        </div>
    </div>
</header>
<main class="container mt-5">
    <!-- 1. 먼저 불러 오는거 확인해 보기 테이블로 만들어서 들어 오는지 확인 완료   -->
    <!-- 2. 리뷰, 팔로우 많은 순을 추후 swiper 을 통해서 구현하기(완성) -->
    <div class="row">
        <div class="col-sm-12">

            <div class="mt-5">
                <p class="fs-5 fw-bold">#리뷰 많은 순</p>    <!--  가게이름, 평점, 리뷰, 팔로우, 메뉴  -->
            </div>
            <div class="swiper ">
                <div class="swiper-wrapper">
                    <!-- th:each 을 써서 여러개 이미지 3개씩 출력 -->
                    <div class="swiper-slide imgHoverContainer" th:each="item : ${scorePlacingList}">
                            <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}">
                                <img th:src="${item.getCeoMenuImg1()}">
                                <div class="overlay">
                                    <div class="text">
                                        <p th:text="${item.getCeoStore()}"></p>
                                        평점:<span th:text="${item.getCeoScore()}"></span>
                                        팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span>
                                    </div>
                                </div>
                            </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>

            <div class="mt-5">
                <p class="fs-5 fw-bold">팔로우 많은 순</p>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- th:each 을 써서 여러개 이미지 3개씩 출력 -->
                    <div class="swiper-slide imgHoverContainer" th:each="item : ${followPlacingList}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}">
                            <img th:src="${item.getCeoMenuImg1()}">
                            <div class="overlay">
                                <div class="text">
                                    <p th:text="${item.getCeoStore()}"></p>
                                    평점:<span th:text="${item.getCeoScore()}"></span>
                                    팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>


            <div class="mt-5">
                <p class="fs-5 fw-bold">#한식</p>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- th:each 을 써서 여러개 이미지 3개씩 출력 -->
                    <div class="swiper-slide imgHoverContainer" th:each="item : ${ceoDtoList}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}">
                            <img th:src="${item.getCeoMenuImg1()}">
                            <div class="overlay">
                                <div class="text">
                                    <p th:text="${item.getCeoStore()}"></p>
                                    평점:<span th:text="${item.getCeoScore()}"></span>
                                    팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>


            <!-- 일식 List -->
            <div class="mt-5">
                <p class="fs-5 fw-bold">#일식</p>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- th:each 을 써서 여러개 이미지 3개씩 출력 -->
                    <div class="swiper-slide imgHoverContainer" th:each="item : ${selectJFood}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}">
                            <img th:src="${item.getCeoMenuImg1()}">
                            <div class="overlay">
                                <div class="text">
                                    <p th:text="${item.getCeoStore()}"></p>
                                    평점:<span th:text="${item.getCeoScore()}"></span>
                                    팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>

            <!-- 중식 List -->
            <div class="mt-5">
                <p class="fs-5 fw-bold">#중식</p>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- th:each 을 써서 여러개 이미지 3개씩 출력 -->
                    <div class="swiper-slide imgHoverContainer" th:each="item : ${selectCFood}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}">
                            <img th:src="${item.getCeoMenuImg1()}">
                            <div class="overlay">
                                <div class="text">
                                    <p th:text="${item.getCeoStore()}"></p>
                                    평점:<span th:text="${item.getCeoScore()}"></span>
                                    팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>

            <!-- 양식 List -->
            <div class="mt-5">
                <p class="fs-5 fw-bold">#양식</p>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- th:each 을 써서 여러개 이미지 3개씩 출력 -->
                    <div class="swiper-slide imgHoverContainer" th:each="item : ${selectWFood}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}">
                            <img th:src="${item.getCeoMenuImg1()}">
                            <div class="overlay">
                                <div class="text">
                                    <p th:text="${item.getCeoStore()}"></p>
                                    평점:<span th:text="${item.getCeoScore()}"></span>
                                    팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>


            <script>
                const swiper = new Swiper('.swiper', {
                    slidesPerView: 3,
                    spaceBetween: 30,
                    freeMode: true,
                    direction: 'horizontal',
                    loop: true,

                    // If we need pagination
                    pagination: {
                        el: '.swiper-pagination',
                    },

                    // Navigation arrows
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },

                    // And if we need scrollbar
                    scrollbar: {
                        el: '.swiper-scrollbar',
                    },
                });
            </script>
        </div>
    </div>

    <!--  로그인 모달  -->
    <p th:text="${session.failMsg}" hidden="hidden" id="sessionMsg"></p>



    <!-- 사용할 세션 값(제이쿼리 값으로 변경 필요) -->
<!--    <p th:text="${session.user}"></p>-->

    <!-- 모달창 본문 -->
    <div class="modal fade" id="modal-login">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <h2 class="modal-title text-center my-4">로그인</h2>

                    <form action="/bmn/login" class="form-control" method="post" id="form">
                        <div class="my-3 p-2">
                            <label for="user-id" class="form-label">아이디</label>
                            <input type="text" class="form-control" id="user-id" name="userId">
                        </div>
                        <div class="my-3 p-2">
                            <label for="user-pw" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" id="user-pw" name="userPw">
                        </div>
                        <div class="my-4 d-grid gap-3">
                            <button type="button" class="btn btn-primary" id="submit-btn">로그인</button>
                            <div class="my-2 d-flex">
                                <a href="/bmn/signUp/customer" class="btn btn-secondary flex-fill mx-1">손님 회원가입</a>
                                <a href="/bmn/signUp/ceo" class="btn btn-secondary flex-fill mx-1">사장님 회원가입</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="border border-top border-2 bg-light mt-5 pt-5 mb-5">
    <div class="text-center">
        <p>이곳은 footer 화면 입니다.</p>
    </div>
</footer>
</body>
</html>