<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>안녕하세여</title>
    <style>
        /*구글 폰트를 이용한 로고 글자 */
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    </style>

    <script>

        function foodSearch() {
            let keyWorld = $("#keyword-val").val();
            console.log(keyWorld);// 값이 들어오는 거 확인함
            $.ajax({
                url: "/bmn/bmnSearchList",
                type: "GET",
                success: function () {
                    location.href = "/bmn/bmnSearchList?keyWorld=" + keyWorld;
                    // alert('접속 성공')
                },
                error: function () {
                    alert('접속 실패')
                }
            });
        }
            $(document).ready(function () {
                $("#keyword-val").keydown(function (key) {
                    let keyWorld = $("#keyword-val").val();
                    if (key.keyCode == 13) {
                        $.ajax({
                            url: "/bmn/bmnSearchList",
                            type: 'GET',
                            data: {keyWorld: keyWorld},
                            success: function (data) {
                                location.href = "/bmn/bmnSearchList?keyWorld=" + keyWorld;
                            },
                            error: function () {
                                alert('통신 실패');
                            }
                        });
                    }
                });
            });

            function categoryFunction() {
                let keyWorld = $("#keyword-val").val();
                // 이용자 층 작성할 블럭
                const query = 'input[name="checkBoxAge"]:checked';
                const selectedEls =
                    document.querySelectorAll(query);
                // 선택된 목록에서 value 찾기
                let result = '';
                selectedEls.forEach((el) => {
                    result += el.value + ' ';
                });
                // 출력
                document.getElementById('result').innerText
                    = result;

                // 이용자 층 필터 블록 부분
                let checkArr = document.querySelectorAll('input[name="checkBoxAge"]:checked');
                let customAge = [];

                for (let i = 0; i < checkArr.length; i++) {
                    customAge.push(checkArr[i].value);
                }

                console.log('chk++arrycheck::' + customAge);

                $.ajax({
                    url: "/bmn/bmnFilterList",
                    type: 'POST',
                    data: {
                        keyWorld: keyWorld,
                        customAge: customAge
                    },
                    success: function (data) {
                        $('#home').empty();
                        let otp = null;
                        for (let i = 0; i < data.length; i++) {
                            otp += '<div class="list-group">' +
                                '<a href="/bmn/viewDetail/'+data[i].ceoIdx+'" class="list-group-item list-group-item-action" >'+
                            '<p>안녕하세요</p>'+
                            '<img src="'+ data[i].ceoMenuImg1 +'" class="img-thumbnail rounded-2 w-50 h-100 d-block"/>' +
                            '<p> 가계명:'+data[i].ceoStore+'</p>' +
                            '<p> 대표메뉴:'+data[i].ceoMainMenu+'</p>' +
                            '<p> 평점:'+data[i].ceoScore+'</p>' +
                            '<p> 팔로우 수:'+data[i].ceoFollowCnt+'</p>' +
                            '</a>' +
                            '</div>'
                            $("#home").append(otp)
                        }
                    },
                    error: function(){
                        console.log('이용자 층 전송 실패')
                    }
                });
        }

        function genderFunction() {
            let keyWorld = $("#keyword-val").val();
            // 성별 별 필터 기능 블럭 //////
            const genderKey = $('input[name="genderRadio"]:checked').val();
            console.log('성별확인:::'+genderKey);
            $.ajax({
                url:'/bmn/bmnFilterGender',
                type:'POST',
                data:{
                    keyWorld : keyWorld,
                    genderKey : genderKey
                },
                success:function(data){
                    $('#home').empty();
                    let otp = null;
                    for (let i = 0; i < data.length; i++) {
                        otp += '<div class="list-group">' +
                            '<a href="/bmn/viewDetail/'+data[i].ceoIdx+'" class="list-group-item list-group-item-action" >'+
                            '<p>안녕하세요</p>'+
                            '<img src="'+ data[i].ceoMenuImg1 +'" class="img-thumbnail rounded-2 w-50 h-100 d-block"/>' +
                            '<p> 가계명:'+data[i].ceoStore+'</p>' +
                            '<p> 대표메뉴:'+data[i].ceoMainMenu+'</p>' +
                            '<p> 평점:'+data[i].ceoScore+'</p>' +
                            '<p> 팔로우 수:'+data[i].ceoFollowCnt+'</p>' +
                            '</a>' +
                            '</div>'
                        $("#home").append(otp)
                    }
                },
                error:function(){
                    console.log("전송 실패");
                }
            });
        }

        function storeFood(){
            let keyWorld = $("#keyword-val").val();
            let categoryFoods = $('input[name=categoryFood]:checked').val();
            console.log(categoryFoods); // value 값 확인
            $.ajax({
                url:'/bmn/bmnFilterFood',
                type:'POST',
                data:{
                    keyWorld : keyWorld,
                    categoryFoods : categoryFoods
                },
                success:function(data){
                    $('#home').empty();
                    let otp = null;
                    for (let i = 0; i < data.length; i++) {
                        otp += '<div class="list-group">' +
                            '<a href="/bmn/viewDetail/'+data[i].ceoIdx+'" class="list-group-item list-group-item-action" >'+
                            '<p>안녕하세요</p>'+
                            '<img src="'+ data[i].ceoMenuImg1 +'" class="img-thumbnail rounded-2 w-50 h-100 d-block"/>' +
                            '<p> 가계명:'+data[i].ceoStore+'</p>' +
                            '<p> 대표메뉴:'+data[i].ceoMainMenu+'</p>' +
                            '<p> 평점:'+data[i].ceoScore+'</p>' +
                            '<p> 팔로우 수:'+data[i].ceoFollowCnt+'</p>' +
                            '<p> 팔로우 수:'+data[i].food+'</p>' +
                            '</a>' +
                            '</div>'
                        $("#home").append(otp)
                    }
                },
                error:function(){
                    console.log("전송 실패");
                }
            });
        }

    </script>

</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<main class="container mt-3">
    <div class="row">
        <div class="col-sm-2">
            <div class="border border-2 rounded-2 bg-light">
                <div>
                    <span href="#" class="text-decoration-none text-dark">이용자 층</span>
                    <div class="form-check">
                        <input class="form-check-input" onclick="categoryFunction()" name="checkBoxAge" type="checkbox"
                               value="10" id="teenagerCheck">
                        <label class="form-check-label" for="teenagerCheck">
                            10대
                        </label>
                        <br>
                        <input class="form-check-input" onclick="categoryFunction()" name="checkBoxAge" type="checkbox"
                               value="20" id="twenitesCheck">
                        <label class="form-check-label" for="twenitesCheck">
                            20대
                        </label>
                        <br>
                        <input class="form-check-input" onclick="categoryFunction()" name="checkBoxAge" type="checkbox"
                               value="30" id="thiritesCheck">
                        <label class="form-check-label" for="thiritesCheck">
                            30대
                        </label>
                        <br>
                        <input class="form-check-input" onclick="categoryFunction()" name="checkBoxAge" type="checkbox"
                               value="40" id="fortiesCheck">
                        <label class="form-check-label" for="fortiesCheck">
                            40대
                        </label>
                        <br>
                        <input class="form-check-input" onclick="categoryFunction()" name="checkBoxAge" type="checkbox"
                               value="50" id="FiftiesCheck">
                        <label class="form-check-label" for="FiftiesCheck">
                            50대
                        </label>
                        <br>
                        <input class="form-check-input" onclick="categoryFunction()" name="checkBoxAge" type="checkbox"
                               value="60" id="SixtiesCheck">
                        <label class="form-check-label" for="SixtiesCheck">
                            60대 이상
                        </label>
                    </div>
                </div>
                <div>
                    <span href="#" class="text-decoration-none text-dark">성별</span>
                    <div class="form-check ms-2">
                        <div class="form-check-inline">
                            <input class="form-check-input" value="M" onclick="genderFunction()" type="radio" name="genderRadio" id="genderRadioM">
                            <label class="form-check-label" for="genderRadioM">남성</label>
                        </div>
                        <div class="form-check-inline ms-2">
                            <input class="form-check-input" value="F" onclick="genderFunction()" type="radio" name="genderRadio" id="genderRadioW">
                            <label class="form-check-label" for="genderRadioW">
                                여성
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <span href="#" class="text-decoration-none text-dark">카테고리(大)</span>
                    <div class="form-check ms-2">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="categoryFood" id="categoryRadioK"
                                   value="01" onclick="storeFood()">
                            <label class="form-check-label" for="categoryRadioK">한식</label>
                        </div>
                        <div class="form-check-inline ms-2">
                            <input class="form-check-input" type="radio" name="categoryFood" id="categoryRadioJ"
                                   value="02" onclick="storeFood()">
                            <label class="form-check-label" for="categoryRadioJ">일식</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="categoryFood" id="categoryRadioC"
                                   value="03" onclick="storeFood()">
                            <label class="form-check-label" for="categoryRadioC">중식</label>
                        </div>
                        <div class="form-check-inline ms-2">
                            <input class="form-check-input" type="radio" name="categoryFood" id="categoryRadioW"
                                   value="04" onclick="storeFood()">
                            <label class="form-check-label" for="categoryRadioW">양식</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div id="result">
            </div>
            <!-- 검색 List -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button"
                            role="tab" aria-controls="home" aria-selected="true">평점 순
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">리뷰 많은 순
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                            type="button" role="tab" aria-controls="contact" aria-selected="false">팔로우 순
                    </button>
                </li>
            </ul>


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p th:if="${#lists.size(storeList)} > 0" class="fs-5 fw-bold">#평점 순</p>
                    <div class="list-group" th:if="${#lists.size(storeList)} > 0" th:each="item : ${storeList}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}" class="list-group-item list-group-item-action">
                            <div>
                                <div class="float-start d-grid w-75">
                                    <img th:src="${item.getCeoMenuImg1()}"
                                         class="img-thumbnail rounded-2 w-50 h-100 d-block">
                                </div>
                                <div>
                                    <p th:text="${item.getCeoStore()}"></p>
                                    <p>평점:<span th:text="${item.getCeoScore()}"></span></p>
                                    <p>팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="list-group" th:if="${#lists.size(storeList)} == 0">
                        <p class="fs-5 fw-bold">#검색 결과가 없습니다.</p>
                    </div>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p class="fs-5 fw-bold" th:if="${#lists.size(reviewCntList)} > 0">#리뷰 많은 순</p>
                    <div class="list-group" th:if="${#lists.size(reviewCntList)} > 0" th:each="item : ${reviewCntList}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}"
                           class="list-group-item list-group-item-action">
                            <div>
                                <div class="float-start d-grid w-75">
                                    <img th:src="${item.getCeoMenuImg1()}"
                                         class="img-thumbnail rounded-2 w-50 h-100 d-block">
                                </div>
                                <div>
                                    <p th:text="${item.getCeoStore()}"></p>
                                    <p>평점:<span th:text="${item.getCeoScore()}"></span></p>
                                    <p>팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="list-group" th:if="${#lists.size(reviewCntList)} == 0">
                        <p class="fs-5 fw-bold">#검색 결과가 없습니다.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <p class="fs-5 fw-bold" th:if="${#lists.size(followList)} > 0">#팔로우 순</p>
                    <div class="list-group" th:if="${#lists.size(followList)} > 0" th:each="item : ${followList}">
                        <a href="/bmn/viewDetail/" + th:attrappend="href=${item.getCeoIdx()}"
                           class="list-group-item list-group-item-action">
                            <div>
                                <div class="float-start d-grid w-75">
                                    <img th:src="${item.getCeoMenuImg1()}"
                                         class="img-thumbnail rounded-2 w-50 h-100 d-block">
                                </div>
                                <div>
                                    <p th:text="${item.getCeoStore()}"></p>
                                    <p>평점:<span th:text="${item.getCeoScore()}"></span></p>
                                    <p>팔로우 수:<span th:text="${item.getCeoFollowCnt()}"></span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="list-group" th:if="${#lists.size(storeList)} == 0">
                        <p class="fs-5 fw-bold">#검색 결과가 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</main>
</body>
</html>