<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
        #headerFont {
            font-family: 'Black Han Sans', sans-serif;
            font-weight: 900;
        }
    </style>
    <script>
        function foodSearch(){
            let keyWorld = $("#keyword-val").val();
            console.log(keyWorld);// 값이 들어오는 거 확인함
            $.ajax({
                url:"/bmn/bmnSearchList",
                type: "GET",
                success:function(){
                    location.href= "/bmn/bmnSearchList?keyWorld="+keyWorld;
                    // alert('접속 성공')
                },
                error:function(){
                    alert('접속 실패')
                }
            });
        }
        $(document).ready(function () {
            const session = sessionStorage.getItem('user');
            console.log(session);
            let msg = document.getElementById("sessionMsg");
            if (msg.textContent.length > 0) {
                alert(msg.textContent);
            }

            const btn = document.getElementById("submit-btn");
            const frm = document.getElementById("form");
            btn.addEventListener("click", function () {
                let userId = document.getElementById("user-id").value;
                let userPw = document.getElementById("user-pw").value;
                if (userId === "" || userId == null) {
                    // 아이디를 미입력시
                    alert('아이디를 입력해주세요');
                    $("#user-id").focus()
                } else if (userId !== "" && userPw === "") {
                    // 아이디만 입력시
                    alert('비밀번호를 입력해주세요');
                    $("#user-pw").focus()
                } else {
                    // 서브밋
                    frm.submit();
                }
            });
            $("#keyword-val").keydown(function (key){
                let keyWorld = $("#keyword-val").val();
                if(key.keyCode == 13){
                    $.ajax({
                        type : "GET",
                        url: "/bmn/bmnSearchList",
                        data: {keyWorld: keyWorld},
                        success:function(data){
                            location.href= "/bmn/bmnSearchList?keyWorld="+keyWorld;
                        },
                        error:function(){
                            alert('통신 실패');
                        }
                    });
                }
            });
        });
        // ceoManagement
        function approve(targetIdx) {
            if (confirm('정말 승인 하시겠습니까?')) {
                location.href = "/bmn/admin/ceoManagement/Approve?targetIdx=" + targetIdx + "&mode=approve";
                alert('승인되었습니다.');
            }
        }
        function reject(targetIdx) {
            if (confirm('정말 거부 하시겠습니까?')) {
                location.href = "/bmn/admin/ceoManagement/Approve?targetIdx=" + targetIdx + "&mode=reject";
                alert('거부되었습니다.');
            }
        }
        $(document).ready(function () {
            const session = $("#session-check").text();

            if (session !== "admin") {
                alert('관리자만 열람 가능한 페이지입니다!');
                history.back();
            }

            // 페이지 로드 됐을떄 텍스트를 한번에 못 읽어 오길래 값이 비엇을 경우 리로드 시켜줌
            if (session === "") {
                location.reload();
            }
        });

        // customerManagement
        function ban(targetIdx) {
            if (confirm('정말 차단 하시겠습니까?')) {
                location.href = "/bmn/admin/customerManagement/ban?targetIdx=" + targetIdx;
                alert('영구 정지 처리되었습니다.');
            }
        }
        function changeGrade(gradeTo, itemNum) {
            let gradeName = "";
            if (gradeTo === "1") {
                gradeName = "일반회원";
            } else {
                gradeName = "우수회원";
            }
            if (confirm('회원 등급을 ' + gradeName + '으로 바꾸시겠습니까?')) {
                alert('변경되었습니다.');
                // 컨트롤러로 보내서 update 문 수행
                let form = "form" + itemNum;
                document.getElementById(form).submit();
            } else {
                location.reload();
            }
        }
        $(document).ready(function () {
            const session = $("#session-check").text();

            if (session !== "admin") {
                alert('관리자만 열람 가능한 페이지입니다!');
                history.back();
            }
            // 페이지 로드 됐을떄 텍스트를 한번에 못 읽어 오길래 값이 비엇을 경우 리로드 시켜줌
            if (session === "") {
                location.reload();
            }
        });

        $(document).ready(function () {
            $("#cusMan").on("click", function () {
                $("#ceoCollapse").collapse("hide");
                $("#cusCollapse").collapse("show");
            });
            $("#ceoMan").on("click", function () {
                $("#ceoCollapse").collapse("show");
                $("#cusCollapse").collapse("hide");
            });
        });
    </script>

</head>
<body>  <!--  페이지 이동없이 페이징 하는거 물어보기  -->
<header th:replace="~{layout/header :: header}"></header>

<main class="container-sm">
    <div>
        <h1 class="text-center">밥뭇나 회원 및 업체 현황</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>일반 회원(id)</th>
                <th>우수 회원(id)</th>
                <th>총 회원수</th>
                <th>등록 대기 업체</th>
                <th>등록 완료 업체</th>
                <th>총 업체수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${customer1st}">2</td>
                <td th:text="${customer2nd}">3</td>
                <td th:text="${customer}">5</td>
                <td th:text="${ceo1st}">3</td>
                <td th:text="${ceo2nd}">4</td>
                <td th:text="${ceo}">7</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 세션확인으로 관리자만 접속 가능-->
    <div id="session-check" th:text="${session.user}" hidden="hidden"></div>

    <div class="d-flex justify-content-end">
        <a href="/bmn/admin/customerManagement" id="cusMan" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#cusCollapse">회원 등급 관리</a>
        <a href="/bmn/admin/ceoManagement" id="ceoMan" class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#ceoCollapse">업체 등록 관리</a>
    </div>
<!--    <div class="container-sm">-->
<!--        <div class="col">-->
        <div class="collapse multi-collapse" id="cusCollapse">
            <div class="card card-body">
                <div th:replace="~{admin/customerManagement :: cusMan}"></div>
            </div>
        </div>
<!--        </div>-->
<!--        <div class="col">-->
            <div class="collapse multi-collapse" id="ceoCollapse">
                <div class="card card-body">
                    <div th:replace="~{admin/ceoManagement :: ceoMan}"></div>
                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>