<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    </style>
    <script>
        function foodSearch(){
            let keyWorld = $("#keyword-val").val();
            console.log(keyWorld);// 값이 들어오는 거 확인함
            $.ajax({
                url:"/bmn/bmnSearchList",
                type: "GET",
                success:function(){
                    location.href= "/bmn/bmnSearchList?keyWorld="+keyWorld;
                    // alert('접속 성공')
                },
                error:function(){
                    alert('접속 실패')
                }
            });

        }
        $(document).ready(function () {
            const session = sessionStorage.getItem('user');
            console.log(session);
            let msg = document.getElementById("sessionMsg");
            if (msg.textContent.length > 0) {
                alert(msg.textContent);
            }

            const btn = document.getElementById("submit-btn");
            const frm = document.getElementById("form");
            btn.addEventListener("click", function () {
                let userId = document.getElementById("user-id").value;
                let userPw = document.getElementById("user-pw").value;
                if (userId === "" || userId == null) {
                    // 아이디를 미입력시
                    alert('아이디를 입력해주세요');
                    $("#user-id").focus()
                } else if (userId !== "" && userPw === "") {
                    // 아이디만 입력시
                    alert('비밀번호를 입력해주세요');
                    $("#user-pw").focus()
                } else {
                    // 서브밋
                    frm.submit();
                }
            });
            $("#keyword-val").keydown(function (key){
                let keyWorld = $("#keyword-val").val();
                if(key.keyCode == 13){
                    $.ajax({
                        type : "GET",
                        url: "/bmn/bmnSearchList",
                        data: {keyWorld: keyWorld},
                        success:function(data){
                            location.href= "/bmn/bmnSearchList?keyWorld="+keyWorld;
                        },
                        error:function(){
                            alert('통신 실패');
                        }
                    });
                }
            });
        });
        function events() {
            const customerIdx = $("#customerIdx").val();

            $(".btn-follow").on("click", function () {   // 버튼마다 반복문으로 val 값을 주는것임 그리고 클릭이벤트로 그걸 들고와서 해당 인덱스 지우도록..!(업데이트문)
                alert("정말 팔로우를 취소하시겠습니까?"); // 제이쿼리로 새로 만들어 지는 버튼에는 이렇게 바로 주면 안됨 그래서 함수로 만들고 그걸 이용해야함.
                const ceoStore = $(this).val() + ",";  // this 는 클릭 이벤트가 발생된 버튼을 말함, 즉 누른 버튼의 값을 가져옴
                const btn = $(this);
                // console.log(ceoStore);   // 가게이름 받아오는지 확인

                $.ajax({
                    url: "/bmn/myPageCus/follow/cancel",   // update를 시켜야하는데.. 어떻게 그 문자열만 찾아서 없앤담.... 버튼 값으로 가게이름 주고 가게 이름 바로 들고오자
                    type: "POST",
                    data: {ceoStore: ceoStore, customerIdx: customerIdx},
                    success(data) {
                        // alert("ajax 통신 성공");

                        const parent = $(btn).parent().parent().remove();   // 버튼의 부모는 td 부모의 부모가 tr
                        // console.log(parent);
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
        }
        $(document).ready(function () {
            const customerIdx = $("#customerIdx").val();

            $("#list-reservation-list").on("click", function () {
                $.ajax({    // 예약 내역 ajax
                    url: "/bmn/myPageCus/reservation",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) { // data = 가게이름, 날짜, 시간, 예약상태 LIST
                        // alert("ajax 통신 성공");
                        // console.log(data);

                        $("#theadReservation").empty();
                        $("#tbodyReservation").empty();

                        let thead =
                            "<tr>\n" +
                            "    <th>밥뭇나 맛집</th>\n" +
                            "    <th>날짜</th>\n" +
                            "    <th>시간</th>\n" +
                            "    <th>예약 상태</th>\n" +
                            "</tr>";

                        $("#theadReservation").append(thead);

                        let tbody = "";

                        if (data.length == 0) {
                            tbody =
                                "<tr>\n" +
                                "    <td colspan=\"4\">예약내역이 없습니다</td>\n" +
                                "</tr>";

                            $("#tbodyReservation").append(tbody);
                        }
                        else {
                            for (let i = 0; i < data.length; i++) {
                                const ceoIdx = data[i].ceoIdx;
                                const ceoStore = data[i].ceoStore;
                                const reservationDate = data[i].reservationDate;
                                const reservationTime = data[i].reservationTime;
                                let reservationStat = data[i].reservationStat;

                                if (reservationStat == 1 ) {
                                    reservationStat = "예약 확인 중";
                                }
                                else if (reservationStat == 2) {
                                    reservationStat = "예약 완료";
                                }

                                tbody =
                                    "<tr>\n" +
                                    "    <td><a href='/bmn/viewDetail/" + ceoIdx + "' class='text-decoration-none'>" + ceoStore + "</a></td>\n" +
                                    "    <td>" + reservationDate + "</td>\n" +
                                    "    <td>" + reservationTime + ":00</td>\n" +
                                    "    <td>" + reservationStat + "</td>\n" +
                                    "</tr>";

                                $("#tbodyReservation").append(tbody);
                            }
                        }
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
            $("#list-follow-list").on("click", function () {
                $.ajax({    // follow 내역 ajax
                    url: "/bmn/myPageCus/follow",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) {
                        // alert("ajax 통신 성공");
                        const str = data;
                        const split = str.split(',');   // split 리스트 형식으로 들고옴

                        $("#theadFollow").empty();
                        $("#tbodyFollow").empty();

                        let thead =
                            "<tr>\n" +
                            "    <th>밥뭇나 맛집</th>\n" +
                            "    <th></th>\n" +
                            "    <th></th>\n" +
                            "    <th>팔로우 취소</th>\n" +
                            "</tr>";

                        $("#theadFollow").append(thead);

                        let tbody = "";

                        if (split.length - 1 == 0) {
                            tbody =
                                "<tr>\n" +
                                "    <td colspan=\"4\">팔로잉이 없습니다</td>\n" +
                                "</tr>";

                            $("#tbodyFollow").append(tbody);
                        }
                        else {
                            for (let i = 0; i < split.length - 1; i++) { // 리스트의 마지막은 빈 문자열이기 때문에 -1로 제외
                                const ceoStore = split[i];

                                tbody =
                                    "<tr>\n" +
                                    "    <td>" + ceoStore + "</td>\n" +
                                    "    <td></td>\n" +
                                    "    <td></td>\n" +
                                    "    <td>" +
                                    "        <button type=\"button\" class=\"btn btn-outline-danger btn-follow\" value='" + ceoStore + "' style=\"--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;\">팔로잉</button>" +
                                    "    </td>\n" +
                                    "</tr>";

                                $("#tbodyFollow").append(tbody);
                            }
                        }
                        events();
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
            $("#list-review-list").on("click", function () {
                $.ajax({    // review 내역 ajax
                    url: "/bmn/myPageCus/review",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) {
                        // alert("ajax 통신 성공");

                        $("#theadReview").empty();
                        $("#tbodyReview").empty();

                        let thead =
                            "<tr>\n" +
                            "    <th>밥뭇나 맛집</th>\n" +
                            "    <th>리뷰제목</th>\n" +
                            "    <th>평점</th>\n" +
                            "    <th>날짜</th>\n" +
                            "</tr>";

                        $("#theadReview").append(thead);

                        let tbody = "";

                        if (data.length == 0) {
                            tbody =
                                "<tr>\n" +
                                "    <td colspan=\"4\">내가 쓴 리뷰가 없습니다</td>\n" +
                                "</tr>";

                            $("#tbodyReview").append(tbody);
                        }
                        else {
                            for (let i = 0; i < data.length; i++) {
                                const ceoIdx = data[i].ceoIdx;
                                const ceoStore = data[i].ceoStore;
                                const reviewTitle = data[i].reviewTitle;
                                const reviewScore = data[i].reviewScore;
                                const reviewDate = data[i].reviewDate;

                                tbody =
                                    "<tr>\n" +
                                    "    <td>" + ceoStore + "</td>\n" +
                                    "    <td><a href='/bmn/viewDetail/" + ceoIdx + "' class='text-decoration-none'>" + reviewTitle + "</a></td>\n" + // 상세페이지로 이동, 내가 쓴 리뷰까지 자동으로 이동할수 있게 태그 달수 있는지 물어보기
                                    "    <td>" + reviewScore + "</td>\n" +
                                    "    <td>" + reviewDate + "</td>\n" +
                                    "</tr>";

                                $("#tbodyReview").append(tbody);
                            }
                        }
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
            $("#list-question-list").on("click", function () {
                $.ajax({    // question 내역 ajax
                    url: "/bmn/myPageCus/question",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) {
                        // alert("ajax 통신 성공");

                        $("#theadQuestion").empty();
                        $("#tbodyQuestion").empty();

                        let thead =
                            "<tr>\n" +
                            "    <th>밥뭇나 맛집</th>\n" +
                            "    <th>문의제목</th>\n" +
                            "    <th>날짜</th>\n" +
                            "    <th>답변여부</th>\n" +
                            "</tr>";

                        $("#theadQuestion").append(thead);

                        let tbody = "";

                        if (data.length == 0) {
                            tbody =
                                "<tr>\n" +
                                "    <td colspan=\"4\">문의사항이 없습니다</td>\n" +
                                "</tr>";

                            $("#tbodyQuestion").append(tbody);
                        }
                        else {
                            for (let i = 0; i < data.length; i++) {
                                const ceoIdx = data[i].ceoIdx;
                                const ceoStore = data[i].ceoStore;
                                const questionTitle = data[i].questionTitle;
                                const questionDate = data[i].questionDate;
                                const questionComplete = data[i].questionComplete;

                                tbody =
                                    "<tr>\n" +
                                    "    <td>" + ceoStore + "</td>\n" +
                                    "    <td><a href='/bmn/viewDetail/" + ceoIdx + "' class='text-decoration-none'>" + questionTitle + "</a></td>\n" +
                                    "    <td>" + questionDate + "</td>\n" +
                                    "    <td>" + questionComplete + "</td>\n" +
                                    "</tr>";

                                $("#tbodyQuestion").append(tbody);
                            }
                        }
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
            $("#out").on("click", function () {
                $("#modalOut").modal("show");
            });
            $("#lastOut").on("click", function () {
                $("#method").val("DELETE");
                const form = $("#form")[0];
                form.submit();

                alert("탈퇴되었습니다.");
            });
            $("#submit-btn").on("click", function () {
                $("#method").val("PUT");
                const form = $("#form")[0];
                const customerNick = $("#user-nick").val();
                const customerName = $("#user-name").val();
                const customerGender1 = $("#user-gen1").val();
                const customerGender2 = $("#user-gen2").val();
                const customerAge = $("#user-age").val();
                const pw = $("#pw").val();
                const customerPw = $("#pw-match").val();

                if (customerNick == "" || customerName == "" || (customerGender1 && customerGender2 == "") || customerAge == null || pw == "" || customerPw == "") {
                    alert("정보를 모두 입력하세요.");
                }
                else {
                    form.submit();

                    alert("수정되었습니다.")
                    // location.reload();
                }
            });
        });
    </script>

</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>

<main class="container-sm">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <div>
                    <p th:if="${session.customer.customerGrade} == 1">[일반회원]</p> <!--  세션값 받아와서 가정법으로 구현하기  -->
                    <p th:if="${session.customer.getCustomerGrade()} == 2">[우수회원]</p>
                    <h1 th:text="${session.customer.customerNick}">이지원</h1>
                    <p th:text="|안녕하세요. ${session.customer.customerName}입니다.|">안녕하세요. 이지원 입니다.</p>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="height: 5em">
                        내 프로필 수정
                    </button>
                </div>
            </div>

            <!--  콜렙스  -->
            <div class="collapse" id="collapseExample">
                <div class="container-sm mt-5">
                    <div class="col-sm-8 mx-auto">
                        <form action="/bmn/myPageCus" class="form-control p-4 mb-5" method="post" id="form">
                            <div class="form-floating my-4">
                                <input type="text" class="form-control" id="user-nick" name="customerNick" th:value="${session.customer.customerNick}">
                                <label for="user-nick">닉네임</label>
                                <p id="nick-write" class="text-danger"></p>
                            </div>
                            <div class="form-floating my-4">
                                <input type="text" class="form-control" id="user-name" name="customerName"th:value="${session.customer.customerName}">

                                <label for="user-name">이름</label>
                                <p id="name-write" class="text-danger"></p>
                            </div>
                            <!-- 개선 필요-->
                            <div class="my-4 row">
                                <div class="col-sm-6">
                                    <label class="mx-5">성별</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="customerGender" id="user-gen1" checked value="M">
                                        <label class="form-check-label" for="user-gen1">
                                            남
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="customerGender" id="user-gen2" value="F">
                                        <label class="form-check-label" for="user-gen2">
                                            여
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-select form-select-sm" name="customerAge" id="user-age">
                                        <option selected disabled>연령대 선택</option>
                                        <option value="10">10대</option>
                                        <option value="20">20대</option>
                                        <option value="30">30대</option>
                                        <option value="40">40대</option>
                                        <option value="50">50대</option>
                                        <option value="60">60대</option>
                                        <option value="70">70대</option>
                                        <option value="80">80대</option>
                                        <option value="90">90대</option>
                                    </select>
                                </div>
                            </div>
                            <div class="my-4">
                                <div class="form-floating my-2">
                                    <input type="password" class="form-control" id="pw">
                                    <label for="pw">비밀번호</label>
                                </div>
                                <div class="form-floating my-2">
                                    <input type="password" class="form-control" id="pw-match" name="customerPw">
                                    <label for="pw-match">비밀번호 확인</label>
                                </div>
                                <p id="match-miss" class="text-danger"></p>
                            </div>
                            <div class="my-4 d-grid gap-3">
                                <button type="button" id="submit-btn" class="btn btn-outline-primary">수정하기</button>
                            </div>
                            <a href="#" class="text-decoration-none text-danger opacity-75" id="out">회원탈퇴></a>
                            <input type="hidden" id="customerIdx" name="customerIdx" value="2"
                                   th:value="${session.customer.customerIdx}">
                            <!--  REST 방식 사용 시 form 태그의 데이터 전송 방식을 변경하기 위한 태그  -->
                            <input type="hidden" id="method" name="_method">
                        </form>
                    </div>
                </div>
            </div>


            <div class="list-group list-group-item-action list-group-horizontal" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center active" id="list-reservation-list" data-bs-toggle="list" href="#list-reservation" role="tab" aria-controls="list-reservation">예약내역</a>
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center" id="list-follow-list" data-bs-toggle="list" href="#list-follow" role="tab" aria-controls="list-follow">팔로우</a>   <!--  사장은 팔로워  -->
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center" id="list-review-list" data-bs-toggle="list" href="#list-review" role="tab" aria-controls="list-review">내가 쓴 리뷰</a>
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center" id="list-question-list" data-bs-toggle="list" href="#list-question" role="tab" aria-controls="list-question">문의사항</a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-reservation" role="tabpanel" aria-labelledby="list-reservation-list">
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 40%"/>
                            <col style="width: 30%"/>
                            <col style="width: 20%"/>
                            <col style="width: 10%"/>
                        </colgroup>
                        <thead id="theadReservation">
                        </thead>
                        <tbody id="tbodyReservation">
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="list-follow" role="tabpanel" aria-labelledby="list-follow-list">
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 40%"/>
                            <col style="width: 30%"/>
                            <col style="width: 20%"/>
                            <col style="width: 10%"/>
                        </colgroup>
                        <thead id="theadFollow">
                        </thead>
                        <tbody id="tbodyFollow">
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="list-review" role="tabpanel" aria-labelledby="list-review-list">
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 40%"/>
                            <col style="width: 30%"/>
                            <col style="width: 20%"/>
                            <col style="width: 10%"/>
                        </colgroup>
                        <thead id="theadReview">
                        </thead>
                        <tbody id="tbodyReview">
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="list-question" role="tabpanel" aria-labelledby="list-question-list">
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 40%"/>
                            <col style="width: 30%"/>
                            <col style="width: 20%"/>
                            <col style="width: 10%"/>
                        </colgroup>
                        <thead id="theadQuestion">
                        </thead>
                        <tbody id="tbodyQuestion">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalOut" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">밥뭇나</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>정말 탈퇴 하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="lastOut">승인</button>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="~{layout/footer :: footer}"></footer>

<!--세션 정보 hidden 인풋태그 구역-->
<div th:if="${not #strings.isEmpty(session.user)}">
  <div th:if="${session.user == 'customer'}">
    <input type="hidden" id="customer-idx" th:value="${session.customer.customerIdx}">
    <input type="hidden" id="customer-nick" th:value="${session.customer.customerNick}">
    <input type="hidden" id="customer-grade" th:value="${session.customer.customerGrade}">
  </div>
  <div th:unless="${session.user == 'customer'}">
    <div th:if="${session.user == 'ceo'}">
      <input type="hidden" id="ceo-idx" th:value="${session.ceo.ceoIdx}">
      <input type="hidden" id="ceo-store" th:value="${session.ceo.ceoStore}">
    </div>
  </div>

</div>

</body>
</html>