<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <style>

    </style>
    <script>
        $(document).ready(function () {
            const customerIdx = $("#customerIdx").val();
            $("#list-reservation-list").on("click", function () {
                $.ajax({    // 예약 내역 ajax
                    url: "/bmn/myPageCus/reservation",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) { // data = 가게이름, 날짜, 시간, 예약상태 LIST
                        // alert("ajax 통신 성공");
                        // console.log(data);

                        let thead =
                            "<tr>\n" +
                            "    <th>밥뭇나 맛집</th>\n" +
                            "    <th>날짜</th>\n" +
                            "    <th>시간</th>\n" +
                            "    <th>예약 상태</th>\n" +
                            "</tr>";

                        $("#theadReservation").append(thead);

                        let tbody = "";

                        if (data.length == 0) {
                            tbody =
                                "<tr>\n" +
                                "    <td colspan=\"4\">예약내역이 없습니다</td>\n" +
                                "</tr>";

                            $("#tbodyReservation").append(tbody);
                        }
                        else {
                            for (let i = 0; i < data.length; i++) {
                                const ceoStore = data[i].ceoStore;
                                const reservationDate = data[i].reservationDate;
                                const reservationTime = data[i].reservationTime;
                                let reservationStat = data[i].reservationStat;

                                if (reservationStat == 1 ) {
                                    reservationStat = "예약 신청 중";
                                }
                                else if (reservationStat == 2) {
                                    reservationStat = "예약 완료";
                                }

                                tbody =
                                    "<tr>\n" +
                                    "    <td>" + ceoStore + "</td>\n" +
                                    "    <td>" + reservationDate + "</td>\n" +
                                    "    <td>" + reservationTime + "</td>\n" +
                                    "    <td>" + reservationStat + "</td>\n" +
                                    "</tr>";

                                $("#tbodyReservation").append(tbody);
                            }
                        }
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
            $("#list-follow-list").on("click", function () {
                $.ajax({    // follow 내역 ajax
                    url: "/bmn/myPageCus/follow",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) {
                        alert("ajax 통신 성공");
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
            $("#list-review-list").on("click", function () {
                $.ajax({    // review 내역 ajax
                    url: "/bmn/myPageCus/review",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) {
                        alert("ajax 통신 성공");

                        let thead =
                            "<tr>\n" +
                            "    <th>밥뭇나 맛집</th>\n" +
                            "    <th>리뷰내용</th>\n" +
                            "    <th>평점</th>\n" +
                            "    <th>날짜</th>\n" +
                            "</tr>";

                        $("#theadReview").append(thead);

                        let tbody = "";

                        if (data.length == 0) {
                            tbody =
                                "<tr>\n" +
                                "    <td colspan=\"4\">예약내역이 없습니다</td>\n" +
                                "</tr>";

                            $("#tbody").append(tbody);
                        }
                        else {
                            for (let i = 0; i < data.length; i++) {
                                const ceoStore = data[i].ceoStore;
                                let reviewContents = data[i].reviewContents;
                                const reviewScore = data[i].reviewScore;
                                const reviewDate = data[i].reviewDate;

                                tbody =
                                    "<tr>\n" +
                                    "    <td>" + ceoStore + "</td>\n" +
                                    "    <td>" + reviewContents + "</td>\n" +
                                    "    <td>" + reviewScore + "</td>\n" +
                                    "    <td>" + reviewDate + "</td>\n" +
                                    "</tr>";

                                $("#tbody").append(tbody);
                            }
                        }
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
            $("#list-question-list").on("click", function () {
                $.ajax({    // question 내역 ajax
                    url: "/bmn/myPageCus/question",
                    type: "POST",
                    data: {customerIdx: customerIdx},
                    success(data) {
                        alert("ajax 통신 성공");
                    },
                    error() {
                        alert("ajax 통신 실패");
                    }
                });
            });
        });
    </script>

</head>
<body>
<header th:replace="~{layout/header :: header}"></header>

<main class="container-sm">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <div>
                    <p>우수회원</p>
                    <h1>이지원</h1>
                    <p>안녕하세요. 이지원 입니다.</p>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="height: 5em">
                        내 프로필 수정
                    </button>
                </div>
            </div>

            <!--  콜렙스  -->
            <div class="collapse" id="collapseExample">
                    <div class="container-sm mt-5">
                        <div class="col-sm-8 mx-auto">
                            <form action="/bmn/signUp/customer/signUp" class="form-control p-4 mb-5" method="post">
                                <div class="form-floating my-4">
                                    <input type="text" class="form-control" id="user-nick" name="customerNick">
                                    <label for="user-nick">닉네임</label>
                                    <p id="nick-write" class="text-danger"></p>
                                </div>
                                <div class="form-floating my-4">
                                    <input type="text" class="form-control" id="user-name" name="customerName">
                                    <label for="user-name">이름</label>
                                    <p id="name-write" class="text-danger"></p>
                                </div>
                                <!-- 개선 필요-->
                                <div class="my-4 row">
                                    <div class="col-sm-6">
                                        <label class="mx-5">성별</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customerGender" id="user-gen1" checked value="M">
                                            <label class="form-check-label" for="user-gen1">
                                                남
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customerGender" id="user-gen2" value="F">
                                            <label class="form-check-label" for="user-gen2">
                                                여
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-select form-select-sm" name="customerAge" id="user-age">
                                            <option selected>연령대 선택</option>
                                            <option value="10">10대</option>
                                            <option value="20">20대</option>
                                            <option value="30">30대</option>
                                            <option value="40">40대</option>
                                            <option value="50">50대</option>
                                            <option value="60">60대</option>
                                            <option value="70">70대</option>
                                            <option value="80">80대</option>
                                            <option value="90">90대</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="my-4">
                                    <div class="form-floating my-2">
                                        <input type="password" class="form-control" id="pw">
                                        <label for="pw">비밀번호</label>
                                    </div>
                                    <div class="form-floating my-2">
                                        <input type="password" class="form-control" id="pw-match" name="customerPw">
                                        <label for="pw-match">비밀번호 확인</label>
                                    </div>
                                    <p id="match-miss" class="text-danger"></p>
                                </div>
                                <div class="my-4 d-grid gap-3">
                                    <button type="submit" id="submit-btn" class="btn btn-outline-primary" disabled>수정하기</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>


            <div class="list-group list-group-item-action list-group-horizontal" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center active" id="list-reservation-list" data-bs-toggle="list" href="#list-reservation" role="tab" aria-controls="list-reservation">예약내역</a>
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center" id="list-follow-list" data-bs-toggle="list" href="#list-follow" role="tab" aria-controls="list-follow">팔로우</a>   <!--  사장은 팔로워  -->
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center" id="list-review-list" data-bs-toggle="list" href="#list-review" role="tab" aria-controls="list-review">내가 쓴 리뷰</a>
                <a class="list-group-item list-group-item-action flex-fill list-group-item-primary text-center" id="list-question-list" data-bs-toggle="list" href="#list-question" role="tab" aria-controls="list-question">문의사항</a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-reservation" role="tabpanel" aria-labelledby="list-reservation-list">
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 40%"/>
                            <col style="width: 30%"/>
                            <col style="width: 20%"/>
                            <col style="width: 10%"/>
                        </colgroup>
                        <thead id="theadReservation">

                        </thead>
                        <tbody id="tbodyReservation">
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="list-follow" role="tabpanel" aria-labelledby="list-follow-list">

                </div>
                <div class="tab-pane fade" id="list-review" role="tabpanel" aria-labelledby="list-review-list">...</div>
                <div class="tab-pane fade" id="list-question" role="tabpanel" aria-labelledby="list-question-list">...</div>
            </div>
        </div>
    </div>

    <input type="hidden" id="customerIdx" name="customerIdx" value="2"> <!--  세션에서 자동으로 받아오도록 수정  -->
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>