<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/1.1.0/proj4js-combined.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <script>
        // 팝업 호출
        function goPopup() {
            var pop = window.open("ceoStore/popup", "pop", "width=570,height=420, scrollbars=yes");
        }

        function jusoCallBack(
            roadFullAddr, roadAddrPart1, addrDetail, roadAddrPart2, engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn,
            detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno,
            emdNo, entX, entY
        ) {
            // 좌표 변환
            Proj4js.defs["EPSG:5179"] = "+proj=tmerc +lat_0=38 +lon_0=127.5 +k=0.9996 +x_0=1000000 +y_0=2000000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs";
            Proj4js.defs["EPSG:4326"] = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";

            var s_srs = new Proj4js.Proj("EPSG:5179");
            var t_srs = new Proj4js.Proj("EPSG:4326");

            var x = entX; //5179 좌표계 x
            var y = entY; //5179 좌표계 y

            var pt = new Proj4js.Point(x, y);	//포인트 생성
            var result = Proj4js.transform(s_srs, t_srs, pt);	//좌표계 변경

            //원하시는 항목을 추가하여 사용하시면 됩니다.
            document.form.ceoFullAddress.value = roadFullAddr;
            document.form.ceoCityAddress.value = sggNm;
            //
            document.getElementById("entX").value = result.y.toFixed(6);
            document.getElementById("entY").value = result.x.toFixed(6);
        }


        function hiddenItem(itemNum) {
            // tr 태그 hidden
            const targetId1 = "menu" + itemNum;
            const target1 = document.getElementById(targetId1);

            target1.setAttribute("hidden", "hidden");
            // 인풋 태그 2개 디스에이블
            const targetId2 = "ceo-detail-menu" + itemNum;
            const target2 = document.getElementById(targetId2);

            target2.setAttribute("disabled", "disabled");

            const targetId3 = "ceo-menu-img" + itemNum;
            const target3 = document.getElementById(targetId3);

            target3.setAttribute("disabled", "disabled");

            // 아이템 sort, 내용 옮기는 기능
        }

        $(document).ready(function () {
            // 서브밋 시 스마트 에디터의 밸류 확인
            $("#submit-btn").on("click", function () {
                console.log($("#ceoContents").val());

                oEditors.getById["ceoContents"].exec("UPDATE_CONTENTS_FIELD", []);

                // 에디터의 내용에 대한 값 검증은 이곳에서
                // document.getElementById("ceoContents").value를 이용해서 처리한다.

                try {
                    $("#form").submit();
                } catch (e) {
                    console.log(e);
                }
            });

            // 카테고리 직접입력 이벤트
            $("#ceo-category").on("change", function () {
                if (this.value === "06") {
                    // this.setAttribute("disabled","disabled");
                    this.setAttribute("value", "");
                    this.removeAttribute("name",);
                    $("#ceo-category-select").removeAttr("disabled");
                } else {
                    this.setAttribute("name", "ceoCategory");
                    $("#ceo-category-select").val("").attr("disabled", "disabled");
                }
            });

            // 메뉴 추가 버튼 클릭 이벤트
            $("#add-item-btn").on("click", function () {
                let items = [];
                let cnt = 0;
                for (let i = 1; i < 7; i++) {
                    const targetId = "menu" + i;
                    const target = document.getElementById(targetId);
                    if (target.getAttribute("hidden") === "hidden") {
                        items[cnt] = i;
                        cnt++;
                    }
                }
                if (items.length > 0) {
                    // tr 태그 hidden 해제
                    const targetId1 = "menu" + items[0];
                    const target1 = document.getElementById(targetId1);

                    target1.removeAttribute("hidden");
                    // 인풋 태그 2개 디스에이블 해제
                    const targetId2 = "ceo-detail-menu" + items[0];
                    const target2 = document.getElementById(targetId2);

                    target2.removeAttribute("disabled");

                    const targetId3 = "ceo-menu-img" + items[0];
                    const target3 = document.getElementById(targetId3);

                    target3.removeAttribute("disabled");
                } else {
                    alert('메뉴 등록은 최대 6개까지 가능합니다.')
                }
            });
        });
    </script>
</head>
<body>
<div class="container-sm my-4">
    <div class="col-sm-10 mx-auto">
        <form name="form" id="form" action="ceoStore/addStore" method="post" class="form-control" enctype="multipart/form-data" novalidate>
            <h2 class="text-center my-4">가게 등록</h2>
            <div>
                <!-- 정보 입력 -->
                <div class="row">
                    <div class="my-2">
                        <span>가게 이름</span>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="ceo_store" name="ceoStore">
                            <label for="ceo_store">가게 이름</label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <span>운영 시간</span>
                    <div class="form-floating col">
                        <input type="text" class="form-control" id="ceo-open-time" name="ceoOpenTime">
                        <label for="ceo-open-time" class="ms-2">오픈 시간</label>
                    </div>
                    <div class="form-floating col">
                        <input type="text" class="form-control" id="ceo-closing-time" name="ceoClosingTime">
                        <label for="ceo-closing-time" class="ms-2">마감 시간</label>
                    </div>
                </div>

                <div class="row">
                    <span>카테고리 선택</span>
                    <div class="col form-floating">
                        <select class="form-select form-select" name="ceoCategory" id="ceo-category">
                            <!--                            가게 대분류 (한,중,양)-->
                            <option selected value="00"></option>
                            <!-- db에서 불러오기 -> 관리자 관리페이지(?) 01~ 06 -->
                            <option value="01">한식</option>
                            <option value="02">양식</option>
                            <option value="03">중식</option>
                            <option value="04">일식</option>
                            <option value="05">주점</option>
                            <!-- 선택시 데이터 못 가져가도록 블락-->
                            <option value="06">직접입력</option>
                        </select>
                        <label for="ceo-category" class="ms-2">카테고리</label>
                    </div>
                    <!-- 셀렉트 박스 직접입력 선택시 활성화 -->
                    <div class="col form-floating">
                        <input type="text" class="form-control" id="ceo-category-select" name="ceoCategory" disabled>
                        <label for="ceo-category-select" class="ms-2">직접입력</label>
                    </div>
                </div>

                <div class="row my-2">
                    <span>가게 소개</span>
                    <div class="form-floating col-8">
                        <input type="text" class="form-control" id="ceo-call-number" name="ceoCallNumber">
                        <label for="ceo-call-number" class="ms-2">가게 전화번호</label>
                    </div>
                    <div class="col">
                        <label for="ceo-thumbnail-img">가게 홍보 이미지</label>
                        <input type="file" class="form-control" id="ceo-thumbnail-img" name="ceoThumbnailImgFile" accept="image/jpeg" required>
                    </div>
                </div>

                <div class="row my-2">
                    <span>대표 메뉴</span>
                    <div class="form-floating col-8">
                        <input type="text" class="form-control" id="ceo-main-menu" name="ceoMainMenu">
                        <label for="ceo-main-menu" class="ms-2">대표 메뉴 이름(가격) / ex) 돈까스(7,000원)</label>
                    </div>
                    <div class="col">
                        <label for="ceo-main-img">대표 메뉴 이미지</label>
                        <input type="file" class="form-control" id="ceo-main-img" name="ceoMainImgFile" accept="image/jpeg" required>
                    </div>
                </div>

                <div class="my-2">
                    <span>가게 소개글</span>
                    <!-- 스마트 에디터 -->
                    <textarea name="ceoContents" id="ceoContents" rows="10" cols="100"></textarea>
                </div>

                <div class="my-2">메뉴 등록<small> (최대 6개)</small>
                    <button type="button" class="btn btn-outline-success py-0 px-1 text-center" id="add-item-btn">
                        <small><i class="bi bi-plus-circle-fill"></i></small>
                    </button>
                </div>
                <table class="table">
                    <colgroup>
                        <col width="5%">
                        <col width="8%">
                        <col width="40%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="menu1" class="menuItems">
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-danger" value="1"
                                    onclick="hiddenItem(this.value)">
                                <i class="bi bi-dash-circle-fill"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle align-middle">
                            메뉴1
                        </td>
                        <td class="px-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ceo-detail-menu1" name="ceoDetailMenu1" accept="image/jpeg">
                                <label for="ceo-detail-menu1" class="ms-2">메뉴1 이름(가격) / ex) 돈까스(7,000원)</label>
                            </div>
                        </td>
                        <td class="px-3">
                            <div>
                                <label for="ceo-menu-img1">메뉴1 이미지</label>
                                <input type="file" class="form-control" id="ceo-menu-img1" name="files">
                            </div>
                        </td>
                    </tr>
                    <tr id="menu2" class="menuItems" hidden="hidden">
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-danger" value="2"
                                    onclick="hiddenItem(this.value)">
                                <i class="bi bi-dash-circle-fill"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            메뉴2
                        </td>
                        <td class="px-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ceo-detail-menu2" name="ceoDetailMenu2" accept="image/jpeg">
                                <label for="ceo-detail-menu2" class="ms-2">메뉴2 이름(가격) / ex) 돈까스(7,000원)</label>
                            </div>
                        </td>
                        <td class="px-3">
                            <div>
                                <label for="ceo-menu-img2">메뉴2 이미지</label>
                                <input type="file" class="form-control" id="ceo-menu-img2" name="files">
                            </div>
                        </td>
                    </tr>
                    <tr id="menu3" class="menuItems" hidden="hidden">
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-danger" value="3"
                                    onclick="hiddenItem(this.value)">
                                <i class="bi bi-dash-circle-fill"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            메뉴3
                        </td>
                        <td class="px-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ceo-detail-menu3" name="ceoDetailMenu3" accept="image/jpeg">
                                <label for="ceo-detail-menu3" class="ms-2">메뉴3 이름(가격) / ex) 돈까스(7,000원)</label>
                            </div>
                        </td>
                        <td class="px-3">
                            <div>
                                <label for="ceo-menu-img3">메뉴3 이미지</label>
                                <input type="file" class="form-control" id="ceo-menu-img3" name="files">
                            </div>
                        </td>
                    </tr>
                    <tr id="menu4" class="menuItems" hidden="hidden">
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-danger" value="4"
                                    onclick="hiddenItem(this.value)">
                                <i class="bi bi-dash-circle-fill"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            메뉴4
                        </td>
                        <td class="px-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ceo-detail-menu4" name="ceoDetailMenu4" accept="image/jpeg">
                                <label for="ceo-detail-menu4" class="ms-2">메뉴4 이름(가격) / ex) 돈까스(7,000원)</label>
                            </div>
                        </td>
                        <td class="px-3">
                            <div>
                                <label for="ceo-menu-img4">메뉴4 이미지</label>
                                <input type="file" class="form-control" id="ceo-menu-img4" name="files">
                            </div>
                        </td>
                    </tr>
                    <tr id="menu5" class="menuItems" hidden="hidden">
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-danger" value="5"
                                    onclick="hiddenItem(this.value)">
                                <i class="bi bi-dash-circle-fill"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            메뉴5
                        </td>
                        <td class="px-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ceo-detail-menu5" name="ceoDetailMenu5" accept="image/jpeg">
                                <label for="ceo-detail-menu5" class="ms-2">메뉴5 이름(가격) / ex) 돈까스(7,000원)</label>
                            </div>
                        </td>
                        <td class="px-3">
                            <div>
                                <label for="ceo-menu-img5">메뉴5 이미지</label>
                                <input type="file" class="form-control" id="ceo-menu-img5" name="files">
                            </div>
                        </td>
                    </tr>
                    <tr id="menu6" class="menuItems" hidden="hidden">
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-danger" value="6"
                                    onclick="hiddenItem(this.value)">
                                <i class="bi bi-dash-circle-fill"></i>
                            </button>
                        </td>
                        <td class="text-center align-middle">
                            메뉴6
                        </td>
                        <td class="px-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ceo-detail-menu6" name="ceoDetailMenu6" accept="image/jpeg">
                                <label for="ceo-detail-menu6" class="ms-2">메뉴6 이름(가격) / ex) 돈까스(7,000원)</label>
                            </div>
                        </td>
                        <td class="px-3">
                            <div>
                                <label for="ceo-menu-img6">메뉴6 이미지</label>
                                <input type="file" class="form-control" id="ceo-menu-img6" name="files">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- 자동으로 입력되는 정보 -->
            <div class="my-2">
                <span>가게 주소</span>
                <input type="button" class="btn btn-secondary opacity-50 btn-sm" onClick="goPopup();" value="주소 검색"/>
                <div class="my-4">
                    <label for="roadFullAddr" class="from-label"><small>전체 주소</small></label>
                    <input type="text" id="roadFullAddr" name="ceoFullAddress" class="form-control" readonly/>

                    <label for="roadFullAddr" class="from-label"><small>도시명(시, 군, 구)</small></label>
                    <input type="text" id="sggNm" name="ceoCityAddress" class="form-control" readonly/>

                    <input type="hidden" id="entX" name="ceoLat"/><br>
                    <input type="hidden" id="entY" name="ceoLon"/>
                </div>
            </div>
            <button id="submit-btn" type="submit" class="btn btn-primary">확인 버튼</button>
        </form>
    </div>
</div>
<!--  스마트 에디터-->
<script type="text/javascript">
    var oEditors = [];
    nhn.husky.SE2M_AttachQuickPhoto = true;
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "ceoContents",
        sSkinURI: "/se2/SmartEditor2Skin.html",
        fCreator: "createSEditor2"

    });
</script>
</body>
</html>

